<p id="notice"><%= notice %></p>


<div class="jumbotron">
  <h1 class="landing"> So you think your good enough to join Trim Agency?</h1>
  <h1 class="landing">Prove it!  Click the link below start your path to greatness!</h1>
            <%= link_to 'Apprentice Questionnaire', new_user_path %>
</div>
