<p id="notice"><%= notice %></p>

<h1> So you think your good enough to join Trim Agency?</h1>
<h1>Prove it!  Click the link below start your path to greatness!</h1>
          <%= link_to 'New User', new_user_path %>
