<p id="notice"><%= notice %></p>


<div class="jumbotron text-center">
  <h1 class="landing"> So you think your good enough to join Trim Agency?</h1>
  <h1 class="landing">Prove it! Click the link below!</h1>
            <h4><%= link_to 'Apprentice Questionnaire', apprentice_path %><h4>
</div>
