<div class="container text-center">
  <h1 class="form-header">Your first step to greatness!</h1>
  <h2 class="form-header lead">Instructions: You only have 50 points to rate yourself in 13 categories.  Spend your points wisely!</h2>
  <h2 class="form-header">When finished click the submit button.<h2>
</div>

<div class="container">
  <%= render 'form' %>
</div>
