<h1>Your first step to greatness!</h1>
<h2>Instructions: You only have 50 points to rate yourself in 13 categories.  Spend your points wisely!</h2>
<h2>When finished click the submit button.<h2>

<div>
  <%= render 'form' %>
</div>

<%= link_to 'Back', welcome_path %>
